body
{
	text-align:center;
	border:solid 0px #ddd;
}

.post {
	padding:0px;
}

img.boxW {
	width: 480px;
	height: auto;
	border:solid 1px #ddd;
}
img.boxH {
	width: auto;
	height: 320px;
	border:solid 1px #ddd;
}
